langchain
langchain-core
langchain-community
langchain-ollama
uuid
pydantic
pymupdf
pypdf
qdrant-client[fastembed]
requests
tqdm
python-dateutil
pandas
langchain_ollama
python-dateutil
python-dotenv
requests_toolbelt
pymupdf
pytesseract
starlette
fastmcp
langchain_mcp_adapters
langgraph
colorlog
langchain_google_genai